$primary-color: #0D548E;
$text-color: #333;
$gray: #666;
$white: #ffffff;

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-modal {
  position: relative;
  background: white;
  border-radius: 20px;
  padding: 0;
  outline: none;
  width: 70%;
  max-width: 520px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px 0 10px;

    h2 {
      margin: 0;
      font-size: 1.25rem;
      font-weight: 600;
      color: $text-color;
    }
  }

  .modal-body {
    padding: 10px;
    font-size: 1rem;
    color: $text-color;
    line-height: 1.5;
    width: 80%;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 20px 24px;

    button {
      padding: 0.8rem 2rem;
      border-radius: 10px;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.2s;

      &.confirm-btn {
        background-color: $primary-color;
        color: $white;
        border: 1px solid $primary-color;

        &:hover {
          background-color: darken($primary-color, 5%);
        }
      }

      &.cancel-btn {
        background-color: $white;
        color: $gray;
        border: 1px solid $primary-color;

        &:hover {
          background-color: darken($white, 5%);
        }
      }
    }
  }
}

// 반응형 스타일
@media (max-width: 768px) {
  .custom-modal {
    width: 95%;
    margin: 20px;

    .modal-header {
      padding: 16px 20px;

      h2 {
        font-size: 1.125rem;
      }
    }

    .modal-body {
      padding: 20px;
    }

    .modal-footer {
      padding: 16px 20px;
      flex-direction: column;

      button {
        width: 100%;
        padding: 12px;
      }
    }
  }
}
